.cards{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    border: 2px solid #898989;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 280px;
    
}

.card-name, .card-footer-color, .card-footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.card-name{
    padding: 0px;
}

.card-footer{
    margin-top: auto;
}


.card-footer-color{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: yellow;
}

.card-name h2{
    margin: 0px;
}

.repo-privacy{
    font-size: 12px;
    color: #898989;
    border: 2px solid #898989;
    border-radius: 10px;
    padding: 2px 5px;
}

